
.body__AB {

  background-image: url("../images/imagenFondoEdited.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  text-align: center;
  width: 100%;
  height: 100%;
}

#horario{
  height: auto;
  width: 100%;
  margin: 0.5em 0 4em 0;
  /*font-size: 1.6vw;*/
}

#aboutTable{
  width: 30vw;
  margin-left: auto;
  margin-right:auto;
  margin-top: 2em;
  color: ghostwhite;
  border-radius: 15px;
  border:3px solid white;
  height: auto;
}

#aboutTable > tr,th {
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  margin:1em;
  padding: 1em;
}

#aboutTable > tr,td{
  border-right: 1px solid white;
  border-left: 1px solid white;
  margin:1em;
  padding: 0 2em;
}

.col__AbUs {

  text-align: justify;
  /*font-size: 1em;*/
  padding: 20px;
  color: white;
  margin-bottom: 1vw;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
}
