
footer {
  
  border: 0.3em solid white;
  color: black;
  background-image: linear-gradient(black, white);
  display: flex;
  width: 100%;
  height: 5em;
  padding: 0.5em;
  flex-direction: column;
  text-align: center;
}

footer > h2 {

  font-family: 'Oswald', cursive, 'sans-serif', cursive;
  font-weight: 900;
  color: gold;
  text-decoration: underline;
  font-size: 1em;
}



