.correo_Alvaro{

  text-decoration: line-through solid rgb(255, 255, 255);
  color: yellow;

}

.negrita{

  font-weight: 800;

}

.cursiva{

  font-style: italic;

}

.uppercase{

  text-transform: capitalize;

}

.interlineado{

  line-height : 25px;

}

.separacion_letras{

  letter-spacing: 2px;

}

.columna p{

  text-indent: 25px;
}

.enlace:link {

    
    color: blue;
    background-color: transparent;
}

/* Enlace  visitado */
.enlace:visited{

    color: green;
    background-color: transparent;
}

/* Raton sobre el enlace */
.enlace:hover{

    color: red;
    background-color: transparent;
}

/* Mientras pinchas el enlace */
.enlace:active{

    color: pink;
    background-color: transparent;
}


.col__cont {

  /*font-size: 1em;*/
  width: 100%%;
  padding: 20px;
  /*color: black;*/
  margin-bottom: 1vw;
  font-style: none;
  /*font-weight: bold;*/
  /*background-color: rgba(200, 200, 200, 0.4);*/
}

.sombrica{
  
  text-shadow: -5px 2px 2px grey;
}