.caja{

  display: inline-table;
  text-align: center;
  width: 32%;
}

.recogida:hover {                 
  transition: transform 0.2s;       
    transform: scale(1.30); 
  border-radius: 5%;
  opacity: 0.5;
}

.garantia:hover {
  transition: transform 0.2s; 
  transform: scale(1.30); 
  border-radius: 5%;
  opacity: 0.5;
  -webkit-box-reflect: right; 
}

.esperas:hover {
  transition: transform 0.2s; 
    transform: scale(1.30); 
    border-radius: 5%;
  opacity: 0.5;
}

.table-responsive {

  width: 100%;
  height: auto;
}

.grid-container-service {
  text-align: center;
}

.ul-servicio {

  margin-top: 20px;
  margin-bottom: 30px;;
  margin-left: auto;
  margin-right: auto;
  list-style-type: circle;
  letter-spacing: 2px;
}

.ol-servicio {
  margin-top: 20px;
  margin-bottom: 30px;;
  margin-left: 30px;
}
