

/* ------------------- hasta aquí mi parte de css - Daniel --------------------------- */

/*CSS de Alvaro Martin Bazan*/
/*Aqui he introducido un margen y pading 0 a todas las paginas*/

@import url('https://fonts.googleapis.com/css2?family=Asul&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Tillana&display=swap');

*{

  margin:0;
  padding:0;

}

/*He puesto una class fondo para el body de about us y que tenga esta imagen*/
/*Esta parte introduce un fondo con imagen al background*/

/******************ALVARO ESTA MEZCLADO EN TODOS****************/

header {

  background-color: black;
  border-bottom: 2px solid gold;
}

header > ul {

  padding: 1em;
  height: auto;
}

body {

  background-color: white;

  /*texto de************************* ARTSIOM **************************************/

  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
/*  text-align: center;*/
}

.body__AB {

  background-image: url("../images/imagenFondo.jpg");
  background-repeat:no-repeat;
  background-size:100%;
  background-attachment: fixed;
  text-align: center;

}

.body__AG {

  background-color: black;
  text-align: center;
}

main {

  width: 100%;
  height: auto;
}

footer{

  color: gold;
  background-color: black;/*ALVARO*/
  /*text-decoration: underline solid rgb(68, 68, 68);/*ARTSIOM*/
  /*text-shadow: 0px 1px 1px rgba(24,20,164,0.8);*/
  text-align: center;
}

h1 {    /*fuente de texto*/

  font-family: 'Tillana', cursive, 'Concert One', cursive;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-align: center;

}

h2 {    /*fuente de texto*/

  font-family: 'Tillana', cursive, Garamond, serif;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
    text-align: center;  /*Alineacion de texto*/
  color: gold;
  text-decoration: underline;

}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

hr{
  width: 50%;
  left: 25%;
  position: relative;
  border: none;
  margin: 3em 0;
  padding: 0;
  background-image: -webkit-linear-gradient(left, #fff, #ccc, #fff);
  display: block;
  height: 1px;
}

.correo_Alvaro{

  text-decoration: line-through solid rgb(68, 68, 68);

}

.negrita{

  font-weight: 800;

}

.cursiva{

  font-style: italic;

}

.uppercase{

  text-transform: capitalize;

}

.interlineado{

  line-height : 25px;

}

.separacion_letras{

  letter-spacing: 2px;

}

.index{

  text-indent: 20px;
  padding-left: 30px

}

#horario{
  height: auto;
  width: 100%;
}

#aboutTable{
  width: 30vw;
  margin-left: auto;
  margin-right:auto;
  color: white;
  border-radius: 15px;
  border:3px solid white;
}

#aboutTable > tr > th, td{
  border:3px solid white;
  margin:15px;
}


/********ANTONIO*********/

.table-responsive {

  width: 100%;
  height: auto;
}

.caja{

  display: inline-table;
  text-align: center;
  width: 32%;
}

.ul-servicio {

  margin-top: 20px;
  margin-bottom: 30px;;
  margin-left: auto;
  margin-right: auto;
  list-style-type: circle;
}

.ol-servicio {
  margin-top: 20px;
  margin-bottom: 30px;;
  margin-left: 100px;
  margin-right: 100px;
}




/***********ROBERTO****************/

/*@media screen and (min-width: 600px) {

  .list {

    display: inline;
  }
}

@media screen and (max-width: 600px) {

  .columna {
    width: 100%;
  }
}*/

.contacto {                              /*Define el estilo que van a tener los elementos "ul" de la página(margen,
                                  padding, tamaño y color de fondo)*/
  list-style-type: none;
  padding: 2%;                    /*Hace que los botones del menú sean más grandes, según el porciento de*/
  color: gold;               /*padding que le pongamos, y que el texto esté alineado en el centro*/
  background-color: black;
}

.div__contacto {

  width: 100%;
}

.li__index {

  display: inline;
  padding: 0 2em;
}

/*Pone el color de las letras en dorado para los enlaces del menú, y
"text-decoration: none" para que aparezcan los enlaces sin decoración*/

.li__index a {

  color: gold;
  text-decoration: none;
}

/*Cuando pasa el ratón por encima de los enlaces, cambia el color de fondo
a gris*/

.li__index:hover {

  background-color: grey;
}

/*Aquí comienza el código CSS de las columnas*/
/*Define los estilos de las clases "columna"*/

.cajaColumnas {

  border: 2px solid white;
  width: 100%;
  margin: 0;
  justify-content:space-around;

}

.columna {


}

/*Define cómo se van a mostrar las columnas dentro de la clase "cajaColumnas"*/
/*.cajaColumnas:after {

  content: "";
  display: table;
  clear: both;
}*/

.columna {
  
  border: 1px solid white;
  font-size: 14px;
  width: 25%;
  padding: 20px;
  color: white;
}





/*Cuando la pantalla es menor de 600px, cambia las columnas de estar una al
lado de la otra, a estar una encima de la otra*/



/* -------- CSS de Daniel del Toro Boigues ------------- */





/*=====================================CSS ARAGON===============================================*/

form {

  /*border :1px solid black;*/
  width: 95%;
  height: auto;
  padding: 1em;
  margin: 5%;
  font-family: 'Asul', sans-serif, 'Work Sans', sans-serif;


}

.formulary {

  border: 0.5px solid black;
  border-radius: 15px;
  background-color: #C9DCCC;
  padding: 2em 1.5em;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  
}

.form__name {

  /*border: 1px solid black;*/
  font-weight: bold;
  font-size: 3vw;
  min-width: 250px;

}

.icon__input {

  /*border: 1px solid black;*/
  text-align: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 25px;
  font-size: 25px;

}

.icon__input input {

  /*border: 1px solid black;*/
  border-radius: 8px;
  padding: 0.5em 0 0.5em 1em;
  width: 25vw;
  font-family: 'Asul', sans-serif, 'Work Sans', sans-serif;
  font-size: 15px;
}

/* ToolTip classses */ 

.tooltip .tooltiptext {   /*Creacion contenedor y transparencia*/

    width: auto;
    visibility: hidden;
    opacity: 0;
    font-style: italic;
    background-color: #F769DF;
    border-radius:5px;
    border: 1px solid grey;
    border-radius: 3px;
    position: absolute;
    padding: 5px;
    z-index: 1;
    margin-top: 0px; 
    margin-left: 10px;
    transition: opacity 1s;

}.tooltip .tooltiptext::after {       /*Efecto de delante del contendor*/

    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent #F769DF transparent transparent;

}.tooltip:hover .tooltiptext {  /*Para poder ver el contenedor*/
    visibility: visible;
    opacity: 1;
}

.div__bot {

  margin-left: 2vw;
  margin-right: auto;
  width: 37vw;
}

.form__select {

  border: 1px solid black;
  border-radius: 6px;
  background-color: #E6E1E0;
  font-family: 'Asul', sans-serif, 'Work Sans', sans-serif;
  width: 30vw;
  font-size: 13px;
  padding: 0.5em;
  cursor: pointer;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

}

.option {

  font-style: italic;
}

.enviar {

  text-align: center;
  width: 10vw;
  height: auto;
  border: 1px solid black;
  padding: 0.2em 0.5em;
  margin-left: 30vw;
  margin-top: 2em;
  font-size: 2vw;
  font-weight: bold;
  font-style: default;
  font-family: 'Asul', sans-serif, 'Work Sans', sans-serif;
  cursor:  pointer;
  transition: transform 1s;

}.enviar:hover {
  transform: scale(0.95);
  background-color: white;
}

.but__del {

  border: 1px solid black;
  font-size: 2vw;
  text-align: center;
  width: 15vw;
  /*max-width: 150px;*/
  height: auto;
  border: 1px solid black;
  padding: 0.2em 0.5em;
  font-weight: bold;
  font-style: default;
  cursor:  pointer;
  /*display: block;*/
  margin-left: 25vw;
  margin-top: 5px;
  transition: transform 1s;

}.but__del:hover {

  transform: scale(0.95);
  background-color: white;
}

.div__sex {

  /*border: 1px solid white;*/
  border-top: 5px ridge;
  border-bottom: 5px ridge;
  width: 100%;
  padding: 0.5em;
  margin-left: 0;
  margin-bottom: 1em;

}

.ul__sex {

  padding: 1em;
  text-decoration: none;
  list-style-type: none ;
  background-color: transparent;


}

.ul__sex > li {

  /*border: 1px solid black;*/
  padding: 0.2em;
  display: list-item;
  text-align: left;
  background-color: transparent;
  font-size: 0.9em;
}

.ul__sex > li > input {
  
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 3px;
    position: relative;
    top: 1px;

}.ul__sex > li > input:hover {

  border: 2px solid black;

}.ul__sex > li > input:checked {

  border: 6px solid black;
}

ul > li > label {

  font-style: italic;
  /*font-size: 1.4vw;*/
}

textarea {

  border: 1px solid black;
  width: 100%;
  height: 25vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 10px;
  font-size: 0.9em;
}

input[type="submit"]{

  border: 1px solid black;
  font-size: 1vw;
  text-align: center;
  width: 7vw;
  max-width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 0.2em 0.5em;
  font-weight: bold;
  font-style: default;
  cursor:  pointer;
  /*display: block;*/
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: transform 1s;

}input[type="submit"]:hover{

  transform: scale(0.95);
  background-color: white;

}

.services {

  margin-top: 1em;
}

form > div > div> label {

  font-style: italic;
  font-weight: default;
}



/*=====================================FIN CSS ARAGON===============================================*/
