
@import url('https://fonts.googleapis.com/css2?family=Asul&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Tillana&display=swap');
@import url(./base.css);
@import url(./menu.css);
@import url(./indice.css);
@import url(./letras.css);
@import url(./products.css);
@import url(./services.css);
@import url(./about_us.css);
@import url(./footer.css);
@import url(./layout.css);
@import url(./formulary.css);


@media screen and (min-width: 800px) {

  .li__index {

    display: inline;
  }

  .list {

    display: inline;
  }
}


@media screen and (max-width: 800px) {

  .columna {
    width: 100%;
  }

  .col__AbUs {
    width: 100%;
  }
}


