<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Alvaro Martín Bazan // Grupo 4">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ABOUT US</title>
 		<link href="../css/styles.css"rel="stylesheet"/>
	</head>

	<body class="body__AB">
		
	<img class="banner1" src="../images/slider3.jpg" width="100%">

	<header>
		<ul>
		  <li class="li__index"><a href="../index.html"> INDICE </a></li>
		  <li class="li__index"><a href="products.html"> PRODUCTOS </a></li>
		  <li class="li__index"><a href="service.html"> SERVICIOS </a></li>
		  <li class="li__index"><a href="about_us.html"> SOBRE NOSOTROS </a></li>
		  <li class="li__index"><a href="contact.html"> CONTACTO </a></li>
		</ul>
	</header>

<main>

  <div class="cajaColumnas">
  	<h1>¿Quíenes somos?</h1>
		<div class="col__AbUs">
  		<p>-Somos una empresa dedicada a la venta de <b>material informático</b> <i>desde el año 2021<i/>. También <b>diseñamos webs</b> enfocadas a tener un gran exito, tanto en posicionamiento, como en ventas/ o visitas.</p>
		</div>

		<div class="col__AbUs">
			<p>-Todos los socios fueron compañeros de clase en un grado superior de informática DAM. El espiritu emprendedor se palpó desde el comienzo de sus estudios y finalmente el trabajo en equipo logro sus frutos.</p>
		</div>

		<div class="col__AbUs">
			<p>-Nuestra actividad avarca una gestión completa, desde que el cliente compra en la web, el equipo de logistica o el departamento de software lo prepara y finalmente el reparto o puesta en funcionamiento.</p>
		</div>

		<div class="col__AbUs">
			<p>-Le agradecemos el tiempo que ha dedicado a conocernos y estaremos encantados de atender sus peticiones o dudas al respecto. No olvide evaluarnos también, esto nos ayudará a mejorar y darle el mejor servicio.</p>
		</div>

	</div>

<!-- ==== HORARIO ==== -->
	<div id="horario">
  	<h2>Horario</h2>
		<table id="aboutTable">

				<tr>
					<th>Lunes</th>
					<th>Martes</th>
					<th>Miercoles</th>
					<th>Jueves</th>
					<th>Viernes</th>
					<th>Sabados</th>
					<th>Domingos</th>
		 		</tr>


		 		<tr>
			 		<td>8:30 18:00</td>
					<td>8:30 18:00</td>
					<td>8:30 18:00</td>
					<td>8:30 18:00</td>
					<td>8:30 18:00</td>
					<td>8:30 18:00</td>
			 		<td>Cerrado</td>
				</tr>
		</table>
	</div>

<!-- ==== CONTACTO ==== -->
		
<!--   <div class="div__contacto">
    <ul class="contacto">
        <h2>Contacto</h2>
        <li class="list">Plaza Virgen Milagrosa 11 290117</li>
        <li class="list">PCT4U@mail.com</li>
    </ul>
  </div> -->

</main>


<footer>
    <div class="footer">
      <h2>Derechos de autor</h2>
      <p>PC4T &copy; guarda los derechos de autor de esta web desde el año 2021. Created by Alvaro Martín Bazan.</p>
    </div>
</footer>

	</body>

</html>
