<!DOCTYPE html>
<html lang= "es-ES">  <!-- Declara la lengua de la pagina -->

	<head>
		<meta charset= "UTF-8"> <!-- Formato de codificacion de caracteres -->
		<meta name="author" content="Carlos Aragón García // Grupo 4">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>PCT4 U Products</title>
	</head>
	    <link href="css/daniel_products.css"rel="stylesheet"/>

	<body>
		<header>
				<table> <!-- Crea una tabla. <th> sirve para declarar la columna (de titulo) y <td> valor de columna normal; <tr> declararia las filas-->
					<th><a href="index.html"> INDICE </a></th>
					<th><a href="products.html"> PRODUCTOS </a></th>
					<th><a href="service.html"> SERVICIOS </a></th>
					<th><a href="about_us.html"> SOBRE NOSOTROS </a></th>
					<th><a href="contact.html"> CONTACTO </a></th>
				</table>
		</header>
		<hr>

		<main>
		 <!-- aqui empieza el codigo para el slide -->
<div class="wrapper">
  <div class="slider" id="slider">
    <ul class="slides">
      <li class="slide" id="slide1">
        <a href="#">
          <img src="Images/slider1.jpg" alt="photo 1">
        </a>
      </li>
      <li class="slide" id="slide">
        <a href="#">
          <img src="Images/slider3.jpg" alt="photo 2">
        </a>
      </li>
      <li class="slide" id="slide">
        <a href="#">
          <img src="Images/slider2.jpg" alt="photo 3">
        </a>
      </li>
    </ul>
    <ul class="slider-controler">
      <li><a href="#slide1">&bullet;</a></li>
      <li><a href="#slide2">&bullet;</a></li>
      <li><a href="#slide3">&bullet;</a></li>
    </ul>
  </div>
</div>
         <!-- aqui termina el codigo para el slid -->
			
			
			<!------------daniel productos ----> 
			
			 <h1>NUESTROS PRODUCTOS</h1>
			</header>
			<div class="container">
			  <div class="thumbex">
			    <div class="thumbnail"><img src="Images/headphones.jpg"/><span style="padding-top: 1px;padding-bottom: 1px;top: 250px;">Headphones</span></a></div>
			  </div>
			  <div class="thumbex"> 
			    <div class="thumbnail"><img src="Images/keyboard.jpg"/><span style="padding-top: 1px;padding-bottom: 1px;top: 250px;">Keyboard</span></a></div>
			  </div>
			  <div class="thumbex">
			    <div class="thumbnail"><img src="Images/mouse.jpg"/><span style="padding-top: 1px;padding-bottom: 1px;top: 250px;">Mouse</span></a></div>
			  </div>
			</div>
			</div>

			<div class=nuestros_productos5>
			<div class="container">
			  <div class="thumbex">
			    <div class="thumbnail"><img src="Images/screen.jpg"/><span style="padding-top: 1px;padding-bottom: 1px;top: 250px;">Screen</span></a></div>
			  </div>
			  <div class="thumbex"> 
			    <div class="thumbnail"><img src="Images/PC.jpg"/><span style="padding-top: 1px;padding-bottom: 1px;top: 250px;">PC</span></a></div>
			  </div>
			  <div class="thumbex">
			    <div class="thumbnail"><img src="Images/laptop.jpg"/><span style="padding-top: 1px;padding-bottom: 1px;top: 250px;">Laptop</span></a></div>
			  </div>
			</div>
			</div>
				<!----- aqui termina productos (Daniel) ----->
		<hr>
			</ul>
		</main>
		<hr>
		<footer>
			<h2>Derechos de autor</h2>
			<p>PC4T &copy; guarda los derechos de autor de esta web desde el año 2021. Created by Aragon</p>
		</footer>

	</body>

</html>
