
<!--Ejemplo pagina de servicios-->
<!DOCTYPE html>
<html lang="es-ES">
 <head>
    <meta charset="UTF-8">
    <meta name="author" content="Antonio García Belver // Grupo 4">
    <title>Services PCT4U</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

 </head>
 <body class="body__Ant">
  <main>
  <header>
    <ul>
      <li class="li__index"><a href="../index.html"> INDICE </a></li>
      <li class="li__index"><a href="./products.html"> PRODUCTOS </a></li>
      <li class="li__index"><a href="./service.html"> SERVICIOS </a></li>
      <li class="li__index"><a href="./about_us.html"> SOBRE NOSOTROS </a></li>
      <li class="li__index"><a href="./contact.html"> CONTACTO </a></li>
    </ul>
  </header>

  <hr>
<main class="main__Ant">

  <h1>SERVICIO DE REPARACIONES</h1>

  <hr>

  <h2>¿Qué servicios ofrecemos?</h2>

  <p>Reparación de electrónica en todos tus productos que ya no tienen garantía, incluso aquellos que no has adquirido en <b>PCT4U</b></p>

  <div class="table-responsive"> <!--Contenedor que almacena 3 cajas, que serann nuestras 3 columnas -->

    <div class="caja">    <!--Cada caja es una columa, con una imagen y h3 -->
      <img src="../Images/ico-recogida.svg" width=100px alt="Imagen de recogida">
      <h4>Recogida y entrega en casa</h4>
    </div>

    <div class="caja">
      <img src="../images/ico-garantia_satisfaccion.svg" width=100px alt="Imagen de garantia">
      <h4>Sin esperas</h4>
    </div>

    <div class="caja">
      <img src="../images/ico-sin_esperas.svg" width=100px alt="Imagen de sin esperas">
      <h4>Garantía de satisfacción</h4>
    </div>
  </div>

  <hr>

  <h2>¿Qué tipo de reparaciones ofrecemos?</h2>

    <ul class="ul-servicio">

        <li><b>Reparación de móviles, tablet y smartwatch:</b> arreglo de pantalla, batería o de placa base, entre otros componentes.</li>

        <li><b>Reparación de videoconsolas y periféricos:</b> limpieza completa con cambio de pasta térmica, ampliación de HDD, o reemplazo de joystick.</li>

        <li><b>Reparación de patinetes, bicicletas eléctricas y hoverboard:</b> Cambio de centralita, cambio de ruedas y componentes (pastilla y luz de freno, manillar...)</li>

        <li><b>Reparación de portátiles y equipos sobremesa:</b> Incluyendo limpieza completa con cambio de pasta térmica, ampliación de memoria RAM, HDD/SSD, reparación de placa base, reprogramación de BIOS, o copias de seguridad.</li>

        <li><b>Reballing en placas base:</b> Reparación o cambio de bolas BGA para GPU/CPU</li>

        <li><b>Reparación de autoradio y equipos de sonido:</b> Arreglos en la placa.</li>

        <li><b>Mantenimiento de impresoras 3D:</b> Mooding, mejoras o reprogramación de Marlin entre otros.</li>

        <li><b>Reparación de aspiradoras (robots):</b> Arreglo de placa, cambio de batería, sensores, ruedas, cepillo...</li>

    </ul>

  <hr>

  <h2>¿Cómo es el proceso de reparación?</h2>

    <ol class="ol-servicio">
      <li>Rellena el formulario de contacto.</li>
      <li>Nuestro equipo evaluará tu caso y te ofrecerá un presupuesto sin compromiso.</li>
      <li>Podrás enviarnos tu artículo o pedir que lo recojamos en la dirección que nos facilites.</li>
      <li>Una vez reparado tu artículo, te lo entregaremos en tu domicilio.</li>
      <li>Podrás pagar la reparación de forma segura mediante transferencia bancaria o contrarrembolso.</li>
    </ol>
    
    <!-- <hr> -->
    <!-- <p><b>Contacta con nosotros para obtener un presupuesto de reparación</b></p> -->

<!-- ----------------------------------------------- -->

    <form>
      <div class="formulary">

        <div>
          <label class="form__name">Nombre</label>
          <div class="icon__input">
            <i class="fa fa-user icon"></i>
            <input type="text" placeholder="Nombre" name="Nombre" maxlength="12"required>
          </div>
        </div>

        <div>
          <label class="form__name">Apellidos</label>
            <div class="icon__input">
            <i class="fa fa-user icon"></i>
            <input type="text" placeholder="Apellidos" name='Apellidos' maxlength="24"required>
          </div>
        </div>

        <div>
          <label class="form__name">Teléfono</label>
          <div class="icon__input">
            <i class="fa fa-phone-square"></i>
            <input type="tel" placeholder="+34 ..." name="Teléfono" maxlength="9" required>
          </div>
        </div>

        <div>
          <label class="form__name">Email</label>
          <div class="icon__input">
            <i class="fa fa-envelope icon"></i>
            <input type="Email" placeholder="example@mail" name= 'Email' maxlength="30"required>
          </div>
        </div>

        <div>
          <label class="form__name">Dispositivo</label>
          <div class="icon__input">
            <i class="fa fa-exclamation-triangle"></i>
            <input type='text' placeholder="Ej: Xiaomi Mi9" name='Dispositivo'required>
          </div>  
        </div>

          <div class ="div__bot">
            <select class="form__select" placeholder="Seleccione una">
              <option disabled selected>Seleccione</option>         
              <option class="option">Pantalla</option>
              <option class="option">Carga/Descarga</option>
              <option class="option">Sonido</option>
              <option class="option">Otros</option>
            </select>
          </div>

          <button class="enviar">Enviar</button>
        </div>
    </form>

<!-- ----------------------------------------------- -->
</main>
  
<footer>
    <div class="footer">
      <h2>Derechos de autor</h2>
      <p>PC4T &copy; guarda los derechos de autor de esta web desde el año 2021. Created by Daniel del Toro y Roberto García.</p>
    </div>
</footer>

 </body>
</html>
