
<!--Ejemplo pagina de servicios-->
<!DOCTYPE html>
<html lang="es-ES">
 <head>
    <meta charset="UTF-8">
    <meta name="author" content="Antonio García Belver // Grupo 4">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services PCT4U</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <!-- Este HTML contiene los siguientes Bootstrap:
	· Menú hamburguesa Roberto
        · Formulario Artsiom-->
    <!--Las dos líneas siguientes tienen que añadirse en los HTML que contengan
     Bootstrap. Para evitar fallos, asegurarse de poner la última versión-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

 </head>
 <body>
  <header>
    <!-- INICIO Menú hamburguesa Roberto -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">MENÚ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">ÍNDICE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="products.html">PRODUCTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="service.html">SERVICIOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about_us.html">SOBRE NOSOTROS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">CONTACTO</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <!-- FIN Menú hamburguesa Roberto -->
  </header>

  <hr>
<main class="main__Ant">

  <h1>SERVICIO DE REPARACIONES</h1>

  <hr>

  <h2 class="h2-servicios">¿Qué servicios ofrecemos?</h2>

  <p>Reparación de electrónica en todos tus productos que ya no tienen garantía, incluso aquellos que no has adquirido en <b>PCT4U</b></p>

  <div class="grid-container-service"> <!--Contenedor que almacena 3 cajas, que serann nuestras 3 columnas -->

    <div class="left">    <!--Cada caja es una columa, con una imagen y h3 -->
      <img  src="../images/ico-recogida.svg" width=150px alt="Imagen de recogida">
      <h4>Recogida y entrega en casa</h4>
    </div>

    <div class="left">
      <img  src="../images/ico-garantia_satisfaccion.svg" width=100px alt="Imagen de garantia">
      <h4>Sin esperas</h4>
    </div>

    <div class="right">
      <img  src="../images/ico-sin_esperas.svg" width=100px alt="Imagen de sin esperas">
      <h4>Garantía de satisfacción</h4>
    </div>
  </div>

  <hr>

  <h2 class="h2-servicios">¿Qué tipo de reparaciones ofrecemos?</h2>

    <ul class="ul-servicio">

        <li><b>Reparación de móviles, tablet y smartwatch:</b> arreglo de pantalla, batería o de placa base, entre otros componentes.</li>

        <li><b>Reparación de videoconsolas y periféricos:</b> limpieza completa con cambio de pasta térmica, ampliación de HDD, o reemplazo de joystick.</li>

        <li><b>Reparación de patinetes, bicicletas eléctricas y hoverboard:</b> Cambio de centralita, cambio de ruedas y componentes (pastilla y luz de freno, manillar...)</li>

        <li><b>Reparación de portátiles y equipos sobremesa:</b> Incluyendo limpieza completa con cambio de pasta térmica, ampliación de memoria RAM, HDD/SSD, reparación de placa base, reprogramación de BIOS, o copias de seguridad.</li>

        <li><b>Reballing en placas base:</b> Reparación o cambio de bolas BGA para GPU/CPU</li>

        <li><b>Reparación de autoradio y equipos de sonido:</b> Arreglos en la placa.</li>

        <li><b>Mantenimiento de impresoras 3D:</b> Mooding, mejoras o reprogramación de Marlin entre otros.</li>

        <li><b>Reparación de aspiradoras (robots):</b> Arreglo de placa, cambio de batería, sensores, ruedas, cepillo...</li>

        <p class="enclace"><a class="enlace" target="blanck" href="https://github.com/G4-1DAM">Este texto es un enlace</a></p>

    </ul>

  <hr>

  <h2 class="h2-servicios">¿Cómo es el proceso de reparación?</h2>

    <ol class="ol-servicio">
      <li>Rellena el formulario de contacto.</li>
      <li>Nuestro equipo evaluará tu caso y te ofrecerá un presupuesto sin compromiso.</li>
      <li>Podrás enviarnos tu artículo o pedir que lo recojamos en la dirección que nos facilites.</li>
      <li>Una vez reparado tu artículo, te lo entregaremos en tu domicilio.</li>
      <li>Podrás pagar la reparación de forma segura mediante transferencia bancaria o contrarrembolso.</li>
    </ol>

    <!-- <hr> -->
    <!-- <p><b>Contacta con nosotros para obtener un presupuesto de reparación</b></p> -->

<!-- ----------------------------------------------- -->
<!--Copiar y pegar tal cual! Sprint 3-->
    <form action="/action_page.php" class="was-validated">
        <div class="formulary">

<!--campo doble para nombre y apellidos-->
            <div class="input-group mb-3">
                <span class="input-group-text">Datos Cliente</span>
                <input type="text" class="form-control" placeholder="Nombre" id="name" name="Nombre"
                       maxlength="12" required data-bs-toggle="tooltip" data-bs-placement="right" title="Nombre">

                <input type="text" class="form-control" placeholder="Apellidos" id="surname" name="Apellidos"
                       maxlength="24" required data-bs-toggle="tooltip" data-bs-placement="right" title="Apellidos">
            </div>
<!--Campo para el telefono-->
            <div class="input-group mb-3">
                <span class="input-group-text">Teléfono</span>
                <input type="tel" class="form-control"  id="phone" placeholder="+34 ..." name="Teléfono" maxlength="9"
                       required data-bs-toggle="tooltip" data-bs-placement="right" title="Teléfono">
            </div>
<!--Campo para el Correo electronico-->
            <div class="input-group mb-3">
                <span class="input-group-text">Correo electrónico</span>
                <input type="email" class="form-control" id="email" placeholder="example@mail" name='Email'
                       maxlength="30" required data-bs-toggle="tooltip" data-bs-placement="right" title="Correo Electronico">
            </div>
<!--Campor para el servicio-->
            <div class="input-group mb-3">
                <span class="input-group-text">Dispositivo</span>
                <input type="text" class="form-control" id="device" placeholder="Indica el dispositivo" required data-bs-toggle="tooltip" data-bs-placement="right" title="Indica el dispositivo">
            </div>
<!--Lista de servicios-->
            <div class="container mt-3">
                <form action="/action_page.php">
                    <label for="browser" class="form-label" >Elije un servicio de la lista:</label>
                    <input class="form-control" list="browsers" name="browser" id="browser" required data-bs-toggle="tooltip" data-bs-placement="right" title="Servicio" >
                    <datalist id="browsers">
                        <option value="Pantalla">
                        <option value="Carga/Descarga">
                        <option value="Sonido">
                        <option value="Otros">
                    </datalist>
                </form>
            </div>
<!--            salgo de linea para separar los botones-->
            <br/>
<!--Boton de borrado-->
            <div class="btn-group">
                <button type="reset" class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="Borrar" >Borrar</button>

<!--Boton de Enviar-->
                <button type="submit" class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="right" title="Enviar" >Enviar</button>
            </div>

            <script>
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            </script>
        </div>
    </form>

<!--------------------------------------------------->
<!--------------------------------------------------->
</main>

<footer>
  <h2>Derechos de autor</h2>
  <p>PC4T &copy; guarda los derechos de autor de esta web desde el año 2021. Created by Antonio García Belver.</p>
</footer>

 </body>
</html>
